@page "/cliente/editar/{clienteId}"
@inject IHttpServicio http
@inject NavigationManager navigationManager


<link href="css/DiseñoModalCompartido.css" rel="stylesheet" />

<div class="position-fixed top-0 start-0 w-100 h-100 d-flex justify-content-center align-items-center bg-dark bg-opacity-50" style="z-index: 1050;">
    <div class="modal-contenedor">

        <!-- Botón de cerrar -->
        <button type="button" class="btn-close position-absolute top-0 end-0 m-3" aria-label="Cerrar" @onclick="Cancelar"></button>

        <!-- Título -->
        <h5 class="fw-semibold mb-1">Editar Cliente</h5>

        <EditForm Model="userInfo" OnValidSubmit="CrearUsuario">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <!-- Información del gasto -->


            <div class="mb-3">
                <label class="form-label">Nombre *</label>
                <div class="precio-group d-flex">
                    <InputText class="form-control precio-input" placeholder="Ejemplo: Jhon" @bind-Value="userInfo.Nombre" />
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label">Apellido *</label>
                <div class="precio-group d-flex">
                    <InputText class="form-control precio-input" placeholder="Ejemplo: Doe" @bind-Value="userInfo.Apellido" />
                </div>
            </div>


            <div class="mb-3">
                <label class="form-label">Telefono *</label>
                <div class="precio-group d-flex">
                    <InputText class="form-control precio-input" placeholder="+12 345-6789101" @bind-Value="userInfo.Telefono" />
                </div>
            </div>

            <div class="mb-3">
                <label for="direccion" class="form-label">Direccion *</label>
                <div class="precio-group d-flex">
                    <InputText class="form-control precio-input" placeholder="Ejemplo: Velez Sarfield 2784" @bind-Value="userInfo.Direccion" />
                    <ValidationMessage For="@(() => userInfo.Direccion)" />
                </div>
            </div>


            <div>
                <label class="form-label">Zona *</label>
                <div class="precio-group d-flex">
                    <InputSelect id="zona" class="form-select form-control-lg shadow-sm border-0" @bind-Value="userInfo.Zona">                       
                        <option value="Norte">Norte</option>
                        <option value="Sur">Sur</option>
                    </InputSelect>
                    <ValidationMessage For="@(() => userInfo.Zona)" />
                </div>
            </div>


            <div class="mb-3 form-check">
                <InputCheckbox id="estado" class="form-check-input" @bind-Value="userInfo.Estado" />
                <label for="estado" class="form-check-label">Estado</label>
                <ValidationMessage For="@(() => userInfo.Estado)" />
            </div>

            <!-- Botones -->
            <div class="d-flex justify-content-end border-top pt-3 gap-2">
                <button type="button" class="btn btn-light btn-lg" @onclick="Cancelar">Cancelar</button>
                <button type="submit" class="btn btn-primary btn-lg">
                    Editar
                </button>
            </div>
        </EditForm>

    </div>
</div>

@code {
    [Parameter] public string clienteId { get; set; }

    EditarClienteDTO userInfo = new();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await Mostrar();
    }

    private async Task Mostrar()
    {
        var resultado = await http.Get<EditarClienteDTO>($"api/Cliente/{clienteId}");
        if (!resultado.Error)
        {
            userInfo = resultado.Respuesta;
        }

    }

    public async Task CrearUsuario()
    {
        var resultado = await http.Put<EditarClienteDTO>($"api/Cliente/{clienteId}", userInfo);
        if (resultado.Error)
        {
            var Body = resultado.HttpResponseMessage;

        }
        navigationManager.NavigateTo("/clientes");

    }

    private void Cancelar()
    {
        navigationManager.NavigateTo("/clientes");
    }
}

