<AuthorizeView>
    <Authorized>
        <span>Hola, @context.User.Identity!.Name</span>
        <a href="logout" class="nav-link btn btn-link">LogOut</a>
    </Authorized>
    <NotAuthorized>
        <a href="registrar" class="nav-link btn btn-link">Registrarse</a>
        <a href="login" class="nav-link btn btn-link">Iniciar Sesion</a>
    </NotAuthorized>
</AuthorizeView>