@page "/usuario/editar/{usuarioId}"
@inject IHttpServicio http
@inject NavigationManager navigationManager

<link href="css/DiseñoModalCompartido.css" rel="stylesheet" />

<div class="position-fixed top-0 start-0 w-100 h-100 d-flex justify-content-center align-items-center bg-dark bg-opacity-50" style="z-index: 1050;">
    <div class="modal-contenedor">

        <!-- Botón de cerrar -->
        <button type="button" class="btn-close position-absolute top-0 end-0 m-3" aria-label="Cerrar" @onclick="Cancelar"></button>

        <!-- Título -->
        <h5 class="fw-semibold mb-1">Registrar nuevo cliente</h5>

        <EditForm Model="userInfo" OnValidSubmit="CrearUsuario">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <!-- Información del gasto -->


            <div class="mb-3">
                <label class="form-label">Nombre *</label>
                <div class="precio-group d-flex">
                    <InputText class="form-control precio-input" placeholder="Ejemplo: Jhon" @bind-Value="userInfo.Nombre" />
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label">Apellido *</label>
                <div class="precio-group d-flex">
                    <InputText class="form-control precio-input" placeholder="Ejemplo: Doe" @bind-Value="userInfo.Apellido" />
                </div>
            </div>


            <div class="mb-3">
                <label class="form-label">Telefono *</label>
                <div class="precio-group d-flex">
                    <InputText class="form-control precio-input" placeholder="+12 345-6789101" @bind-Value="userInfo.Telefono" />
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label">Direccion *</label>
                <div class="precio-group d-flex">
                    <InputText class="form-control precio-input" placeholder="Ejemplo: Velez Sarfield 2784" @bind-Value="userInfo.Direccion" />
                </div>
            </div>


            <!-- Botones -->
            <div class="d-flex justify-content-end border-top pt-3 gap-2">
                <button type="button" class="btn btn-light btn-lg" @onclick="Cancelar">Cancelar</button>
                <button type="submit" class="btn btn-primary btn-lg">
                    Renovar
                </button>
            </div>
        </EditForm>

    </div>
</div>




@code {
    [Parameter] public string usuarioId { get; set; }

    EditarUsuarioDTO userInfo = new();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await Mostrar();
    }

    private async Task Mostrar()
    {
        var resultado = await http.Get<EditarUsuarioDTO>($"api/Usuario/{usuarioId}");
        if (!resultado.Error)
        {
            userInfo = resultado.Respuesta;
        }

    }

    public async Task CrearUsuario()
    {
        var resultado = await http.Put<EditarUsuarioDTO>($"api/Usuario/{usuarioId}", userInfo);
        if (resultado.Error)
        {
            var Body = resultado.HttpResponseMessage;

        }
        navigationManager.NavigateTo("/usuarios");
     
    }

    private void Cancelar()
    {
        navigationManager.NavigateTo("/usuarios");
    }
}
