.tarjeta-clientes {
    flex: 1; /* todas el mismo ancho */
    background: #ffffff;
    border-radius: 16px;
    border: 1px solid #e5e7eb;
    padding: 25px;
    height: 130px;
    width: 260px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 3px 10px rgba(0,0,0,0.05);
    transition: transform .2s ease;
}

/* Hover animado */
.tarjeta-clientes:hover {
    transform: translateY(-3px);
}
