body {
}
/* Fondo con imagen */
body, html {
    height: 100%;
    margin: 0;
}

.login-background {
    background-image: url('/fondo-login.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Tarjeta central */
.login-card {
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    width: 350px;
    max-width: 90%;
}

/* Título */
.login-title {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #345874;
    font-weight: bold;
}

.btn-primary {
    width: 100%;
}